body {
    margin: 0;
    font-family: sans-serif;
}

header {
    text-align: center;
}

.container {
    display: flex;
    background-color: aliceblue;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.aside {
    background-color: #0c426a;
    width: 40%;
    color: #FFF;
    padding: 20px;
    border-radius: 8px;
}

.photoBlock {
    display: flex;
    justify-content: center;
}

.photoBlock img {
    width: 140px;
    border-radius: 50%;
    border: 3px solid #FFF;
}

.asideBlock {
    margin: 12px 0;
    position: relative;
}

.asideBlock nav a {
    color: #FFF;
}

.asideBlock nav  {
    display: flex;
    justify-content: space-evenly;
}


.listNone {
    list-style-type: none;
}

.asideBlock li {
    margin: 4px 0;
}

.asideBlock li a {
    color: #FFF;
}

.content {
    padding: 20px;
    background-color: #e4f2ff;
    width: 100%;
    margin-left: 20px;
    border-radius: 8px;
}

.contentTitle {
    background-color: #0c426a;
    border-radius: 20px;
    padding: 12px 20px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
}

.contentInfo {
    margin: 20px 0;
}

.contentBlock {

}